 .test.php.swn
        .test.php.swo
        .test.php.swp
        .test3.php.swp
        .vscode/
        300-plus-toefl-words.php
        300-plus-toefl-words.php.gz
        .__MACOSX/
        .about-us.php
        .ad_test/
        .ads.txt.gz
        .agreement-of-verb-with-subjects.php
        .ajax_content_for_all.php
        .all_lang_ajax.php
        .all_lang_sug_api.php
        .allbanglanewspaperlist24/
        .allindianewspaperlist/
       .amp-json.php
        .amp.php
        .amp/
        .app-ads.txt.gz
        .app_api.php
        .app_notification.php
        .arabic-to-english-meaning.html
        .babynames/
        .bangla.html
        .base.php
        .bash/
        .bdword.v5.pem
        .bdword_ajax_content.php

 .bdword_sug_api.php
        .bengali.db
        .big_index_cache.php
        .big_index_cache_indi.php
        .big_local_cache.php
        .blank-quiz.php
        .blank-quiz.php.gz
        .blog.php
        .blog_admin.php
        .blogs.php
        .blogs.php.gz
        .bottom-cache.php
        .browse-words.php
        .browse.php
        .cache.php
        .cache_error.php
        .cache_script.php
        .cache_script_help.php
        .cache_script_single.php
        .cache_scripts/
        .captcha.php
        .check.php
        .check_page.php
        .common.html2
        .commonly-confused-words.php
        .commonly-confused-words.php.gz
        .commonly-confused-words2.php
        .connect.php
        .connect2.php
        .connect3.php
        .connect4.php
        .connect5.php
        .connect6.php
        .contact-us.php
        .contact-us.php.gz
        .contact.php
        .contact2.php
        .converToWebp.sh
        .coverage_error.php
        .createSugTable.php
        .db_functions.php
        .disclaimer.php
        .download_db.php
        .english-dictionary/
        .error.html
        .error.html.gz
        .error.html~/
        .error.php
        .execute_other_pages.php
        .facebook_post.php
        .favorite.php
        .favourite-words.php
        .favourite-words.php.gz
        .fb_chat.php
        .fb_post.php
        .foot.js
        .footer.php
        .footer2.php
        .footer_js_single_string.js
        .footer_single_string.php
        .form-of-verbs.php
        .form-of-verbs.php.gz
        .functions.php
        .functions2.php
        .generate_policy_files.php
        .generate_variants_page.php
        .get.php
        .get2.php
        .get3000words.php
        .getBengaliSug.php
        .getEngSug.php
        .getEngSug1.php
        .getEngSug2.php
        .getLangFromTags.php
        .getLearningMaterials.php
        .getQuiz.php
        .getQuiz2.php
        .getQuiz3.php
        .getSug.php
        .get_all_lang.php
        .get_all_lang_sugg.php
        .get_alphabet_lang.php
        .get_eng_meaning.php
        .get_local_meaning.php
        .get_missing_word.php
        .get_sugg_wrong.php
        .get_word.php
        .get_word_details.php
        .get_word_letter.php
        .google-translate.php
        .google7be2b4bf3d712f81.html
        .header.php
        .header2.php
        .header_single_string.php
        .hide.js
        .history.php
        .html_to_gz.php
        .images.txt
        .index-99.php
        .index-backup.php
        .index-bck-23-8-17.php
        .index.css.php
        .index.html
        .index.html.gz
        .index.html~/
        .index.php
        .index.php.gz
        .index2.php
        .index3.php
        .index4.php
        .index_a.php
        .index_cache.php
        .index_fixed_content.php
        .insert_restrict_word.php
        .keyboard.html
        .lang_file.txt
        .lang_file_single.txt
        .lang_url.php
        .learn-3000-plus-common-words.php
        .learn-3000-plus-common-words.php.gz
        .learn-common-gre-words.php
        .learn-common-gre-words.php.gz
        .learn-common-translations.php
        .learn-prepositions-by-photos.php
        .learn-prepositions-by-photos.php.gz
        .learn-prepositions-by-photos2.php
        .learn-ten-words-everyday.php
        .learn-ten-words-everyday.php.gz
        .learn-ten-words-everyday2.php
        .learn-ten-words-everyday3.php
        .learn-ten-words-everyday4.php
        .learning-materials.php
        .links.html
        .list.txt
        .local.php
        .local.php.gz
        .local1.php
        .local2.php
        .local2_other.php
        .local_alphabet.php
        .local_ap.php
        .local_lang.php
        .local_page_js.js
        .local_page_style.css
        .local_rss/
        .main-style.css
        .main.css
        .movapi.php
        .movapi2.php
        .movdict_mod_code.php
        .newspaperlinks/
        .nohup.out
        .other.php
        .output.zip
        .page.php
        .pilot.php
        .pilot1.php
        .pilot2.php
        .post.php
        .post.php.gz
        .privacy.php
        .process_config.php
        .process_config_v2.php
        .process_local_rss.php
        .process_rss.php
        .read-text.php
        .read-text.php.gz
        .read_text_cache.php
        .remove_ad.php
        .right-content.php
        .right-content2.php
        .right-content_v5.php
        .right_content_single_string.php
        .robots.txt
        .rss-local.php
        .rss.php
        .save_word.php
        .script_redirects/
        .search-functions.php
        .search-m.php
        .search-m.php.gz
        .search-pilot.php
        .search-result.php
        .search-result2.php
        .search-result_a.php
        .search.php
        .search.php.gz
        .search2.php
        .search3.php
        .searchApi.php
        .searchLangApi.php
        .search_history.php
        .search_history.php.gz
        .search_page_bash.php
        .search_word/
        .server/
        .sidebar.php
        .sidebar2.php
        .single.php
        .single_index_cache.php
        .single_pages_css.css
        .sitemap.php
        .stage/
        .test.php
        .test.php~
        .test.sh
        .test1.php
        .test2.php
        .test3.php
        .test_dic.sh
        .top-ad.php
        .top-cache.php
        .top20.sh
        .topic-wise-words.php
        .topic-wise-words.php.gz
        .util.css
        .v5/
        .variant_index_cache.php
        .variant_index_cache2.php
        .variant_index_cache3.php
        .variant_word/
        .verb-formation.php
        .vfive.php
        .vocabulary-game-inner.php
        .vocabulary-game.php
        .vocabulary-game.php.gz
        .vocabulary-game2.php
        .welsh.html
        .word-by-term.php
        .word-history.php
        .word-of-theday.php
        .word-of-theday_a.php
        .word_cache.php
        .word_cache_command.sh
        .word_cache_command_single_lang.sh
        .word_day.txt
        .word_game.php
        .word_list.txt
        .word_list_full.sql
        .word_list_test.txt
        .word_search.php
        .word_sugg.php
        .word_sugg.txt
        .words/
        .wrong_word.php
        .x_lang_api.php
        .y_lang_api.php
